body{
				font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"\5B8B\4F53",simsun,sans-serif;
				color: #666;
			}
			#myCarousel{
				margin-top: 50px;
			}
			.logo{
				padding: 8px 0;
			}
			#navbar-collapse{
				margin-top: 0;
			}
			.carousel-inner img{
				margin: 0 auto;
			}
			.tab1{
				padding: 30px 0;
			}
			.tab-h2{
				text-align: center;
				font-size: 20px;
				color: #0059B2;
			}
			.tab-p{
				font-size: 15px;
				text-align: center;
				letter-spacing: 1px;
				color: #999;
			}
			.tab1 .text-muted{
				text-decoration: line-through;
				color: #999;
			}
			.tab1 .media-heading{
				margin: 5px 0 20px 0;
			}
			.tab1 .media-left img{
				width: 200px;
			}
			.tab1 .col{
				padding: 20px;
			}
			#footer{
				background-color: #eee;
				border-top: 1px solid #ccc;
				padding: 20px;
				text-align: center;
			}
			.tab2{
				background-color: #F5F5F5;
			}
			.tab2 img,.tab3 img{
				width: 70%;
				height: 70%;
			}
			.tab2,.tab3{
				padding: 50px 0;
				text-align: center;
			}
			.text h3{
				font-size: 20px;
			}
			.text p{
				font-size: 14px;
			}
			/*媒体查询-小屏幕（平板，大于等于768px）*/
			@media (min-width: 768px){
				.tab-h2{
					font-size: 26px;
				}
				.tab-p{
					font-size: 16px;
				}
				.text h3{
					font-size: 22px;
				}
				.text p{
					font-size: 15px;
				}
				.tab2 .tab2-text{
					float: left;
				}
				.tab2 .tab2-img{
					float: right;
				}
			}
			/*媒体查询-小屏幕（平板，大于等于992px）*/
			@media (min-width: 992px){
				.tab-h2{
					font-size: 28px;
				}
				.tab-p{
					font-size: 17px;
				}
				.text h3{
					font-size: 24px;
				}
				.text p{
					font-size: 16px;
				}
			}
			/*媒体查询-小屏幕（平板，大于等于1200px）*/
			@media (min-width: 1200px){
				.tab-h2{
					font-size: 30px;
				}
				.tab-p{
					font-size: 18px;
				}
				.text h3{
					font-size: 26px;
				}
				.text p{
					font-size: 18px;
				}
			}